.home-container {
  width: 100%;
  .graphic-top {
    text-align: left;
    width: auto;
    height: auto;
    background-image: url('../../assets/images/top-back-pc.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px 9.3vw 9.3vw 200px;
    position: relative;
    overflow: hidden;
    .demo-image-wrapper {
      position: absolute;
      background-image: url('../../assets/images/demo.png');
      width: 56vw;
      height: 56vw;
      min-width: 500px;
      min-height: 500px;
      top: 1vw;
      right: -4vw;
      background-size: 100% 100%;
    }
    .top-content {
      width: 52%;
      color: white;
      margin-top: 104px;
      .top-text {
        .title {
          font-size: 60px;
          line-height: 72px;
          font-weight: 600;
          letter-spacing: -0.04em;
        }
        .content {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          margin-right: 50px;
          margin-top: 20px;
        }
      }
      .apple-get {
        margin-top: 40px;
        .title {
          font-size: 18px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: -0.04em;
        }
        img {
          margin-top: 10px;
        }
      }
      .signup-form {
        margin: 30px 0;
        padding: 20px;
        width: 429px;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        .title {
          font-size: 16px;
          line-height: 24px;
        }
        .input {
          margin-top: 20px;
          input, input:focus-visible {
            background: transparent;
            border: none;
            border-bottom: 1px solid white;
            outline: none;
            color: white;
            margin-right: 20px;
            font-size: 22px;
            padding: 10px;
          }
          button {
            background: #F95761;
            padding: 15px 20px;
            font-family: 'Noto Sans';
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: white;
            border-radius: 5px;
            border: none;
          }
        }
      }
    }
  }
}