.lessons-wrapper {
  margin-top: 100px;
  width: 100%;
  height: auto;
  background-image: url('../../assets/images/lesson-back-pc.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 178px;
  padding-bottom: 206px;
  .dash-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .dash {
      width: 100px;
      height: 2px;
      background: white;
    }
    .title {
      font-weight: 700;
      font-size: 42px;
      line-height: 57.2px;
      color: white;
      position: relative;
      margin: 0 50px;
    }
  }
  .lesson-carousel {    
    margin-top: 50px;
    position: relative;
    /* gives us the illusion of a "centered" slide */
    .carousel__slider {
      padding-left: 12.5%;
      padding-right: 12.5%;
    }
    
    /* gives us the illusion of spaces between the slides */
    .carousel__inner-slide {
      width: calc(100% - 30px);
      height: calc(100% - 30px);
      left: 15px;
      top: 15px;
      background-color: white;
      border-radius: 20px;
      .lesson-image {
        width: 100%;
        height: auto;
        position: relative;
        .img {
          width: 100%;
          height: 100%;
          border-radius: 20px 20px 0 0;
        }
        .mark {
          width: 50px;
          height: 50px;
          position: absolute;
          bottom: 10px;
          left: 10px;
        }
      }
      .lesson-no {
        position: absolute;
        border-radius: 20px 0 20px 0;
        width: 50px;
        height: 50px;
        top: -1px;
        left: -1px;
        background: #6835F8;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: white;
      }
      .lesson-name {
        text-align: left;
        padding: 8% 5%;
        .title {
          font-size: 18px;
          font-weight: bold;
        }
        .learn {
          margin-top: 5px;
          font-size: 14px;
          opacity: 0.7;
        }
      }
    }

    .slider-back-white {
      width: 50px;
      height: 50px;
      background-image: url('../../assets/images/slider-arrow-left.svg');
      background-color: transparent;
      padding: 0;
      border: 0;
      position: absolute;
      top: calc(50% - 25px);
      left: 6%;
    }
    .slider-next-white {
      width: 50px;
      height: 50px;
      background-image: url('../../assets/images/slider-arrow-right.svg');
      background-color: transparent;
      padding: 0;
      border: 0;
      position: absolute;
      top: calc(50% - 25px);
      right: 6%;
    }
    .first-mask {
      position: absolute;
      top: 15px;
      left: 0;
      width: 12.5%;
      height: calc(100% - 30px);
      background: linear-gradient(270deg, rgba(104, 53, 248, 0) 0%, #6835F8 100%);
    }
    .last-mask {
      position: absolute;
      top: 15px;
      right: 0;
      width: 12.5%;
      height: calc(100% - 30px);
      background: linear-gradient(270deg, rgba(170, 0, 255, 0) 0%, #AA00FF 100%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
}

@media screen and (max-width: 640px) {
  .lessons-wrapper {
    margin-top: 30px;
    width: 100%;
    height: auto;
    background-image: url('../../assets/images/lesson-back-sp.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 128px 0;
    .dash-title {
      display: none;
    }
    .lesson-carousel {
      margin-top: 0;
      position: relative;
      /* gives us the illusion of a "centered" slide */
      .carousel__slider {
        padding-left: 12.5%;
        padding-right: 12.5%;
      }
      
      .carousel__slide--visible .carousel__inner-slide {
        transform: scale(1);
      }
      /* gives us the illusion of spaces between the slides */
      .carousel__inner-slide {
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        left: 15px;
        top: 15px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
        transform: scale(0.9);
        transition: .5s ease-in-out;
        .lesson-image {
          width: 100%;
          height: auto;
          position: relative;
          .img {
            width: 100%;
            height: 100%;
            border-radius: 10px 10px 0 0;
          }
          .mark {
            width: 50px;
            height: 50px;
            position: absolute;
            bottom: 10px;
            left: 10px;
          }
        }
        .lesson-no {
          position: absolute;
          border-radius: 10px 0 10px 0;
          width: 50px;
          height: 50px;
          top: -1px;
          left: -1px;
          background: #6835F8;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          color: white;
        }
        .lesson-name {
          text-align: left;
          padding: 15px 5%;
          .title {
            font-size: 16px;
            font-weight: bold;
          }
          .learn {
            margin-top: 0;
            font-size: 12px;
          }
        }
      }
  
      .slider-back-white {
        display: none;
      }
      .slider-next-white {
        display: none;
      }
      .first-mask {
        position: absolute;
        top: 15px;
        left: 0;
        width: 12.5%;
        height: calc(100% - 30px);
        background: linear-gradient(270deg, rgba(104, 53, 248, 0) 0%, #6835F8 100%);
      }
      .last-mask {
        position: absolute;
        top: 15px;
        right: 0;
        width: 12.5%;
        height: calc(100% - 30px);
        background: linear-gradient(270deg, rgba(170, 0, 255, 0) 0%, #AA00FF 100%);
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }
    }
  }
}