.navbar-wrapper {
  max-width: 1170px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  .menu-list {
    list-style: none;
    display: flex;
    .menu-item {
      margin-left: 30px;
      cursor: pointer;
      color: white;
      font-size: 14px;
      padding-bottom: 6.5px;
      &.active {
        font-weight: 700;
        color: #84EE9A;
        border-bottom: 2px solid #84EE9A;
      }
    }
  }
}