.testimonials-wrapper {
  width: 100%;
  height: auto;
  background-image: url('../../assets/images/testimonial-back-pc.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 278px;
  padding-bottom: 234px;
  margin-top: -200px;
  .dash-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .dash {
      width: 100px;
      height: 2px;
      background: linear-gradient(90deg, #6835F8 0%, #AA00FF 100%);;
    }
    .title {
      font-weight: 700;
      font-size: 42px;
      line-height: 57.2px;
      color: #050C28;
      position: relative;
      margin: 0 50px;
    }
  }
  .td-carousel {
    position: relative;
    margin-top: 50px;
    .carousel__slider {
      padding-left: 28%;
      padding-right: 28%;
    }
    .carousel__slide--visible .carousel__inner-slide {
      border: 1px #6835F8 solid;
    }
    .carousel__inner-slide {
      width: calc(100% - 60px);
      height: 100%;
      left: 30px;
      top: 0;
      padding: 4%;
      text-align: left;
      background: white;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      border-radius: 10px;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
      .quote-img{
        width: 40px;
        height: 30px;
      }
      .info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
        .feedback {
          margin-top: 20px;
          color: #050C28;
          font-size: 16px;
          line-height: 26px;
          text-overflow: ellipsis;
          overflow: hidden;
          max-height: 78px;
          opacity: 0.7;
        }
        .profile {
          display: flex;
          img {
            width: 50px;
            height: 50px;
            border-radius: 25px;
          }
          .profile_text {
            margin-left: 20px;
            .name {
              line-height: 24px;
              font-weight: bold; 
            }
            .employee {
              font-size: 14px;
              line-height: 18px;
              opacity: 0.7;
              margin-top: 5px;
            }
          }
        }
      }
    }

    .slider-back-white {
      width: 50px;
      height: 50px;
      background-image: url('../../assets/images/slider-arrow-left-black.svg');
      background-color: transparent;
      padding: 0;
      border: 0;
      position: absolute;
      top: calc(50% - 25px);
      left: 6%;
    }
    .slider-next-white {
      width: 50px;
      height: 50px;
      background-image: url('../../assets/images/slider-arrow-right-black.svg');
      background-color: transparent;
      padding: 0;
      border: 0;
      position: absolute;
      top: calc(50% - 25px);
      right: 6%;
    }
    .first-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 22.5%;
      height: 100%;
      background: linear-gradient(270deg, rgba(249, 249, 249, 0) 0%, #F9F9F9 31.77%);
    }
    .last-mask {
      position: absolute;
      top: 0;
      right: 0;
      width: 22.5%;
      height: 100%;
      background: linear-gradient(270deg, rgba(249, 249, 249, 0) 0%, #F9F9F9 31.77%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
}

@media screen and (min-width: 1441px) {
  .testimonials-wrapper {
    width: 1440px;
    padding: 278px calc(50% - 720px) 234px;
  }
}

@media screen and (max-width: 640px) {
  .testimonials-wrapper {
    background-image: url('../../assets/images/testimonial-back-sp.png');
    padding-top: 83px;
    padding-bottom: 92px;
    margin-top: -40px;
    .dash-title {
      .dash {
        width: 50px;
      }
      .title {
        font-size: 24px;
        line-height: 32px;
        margin: 0 20px;
      }
    }
    .td-carousel {
      margin-top: 30px;
      .carousel__slider {
        padding-left: 35px;
        padding-right: 35px;
      }
      .carousel__slide--visible .carousel__inner-slide {
        transform: scale(1);
      }
      .carousel__inner-slide {
        width: calc(100% - 15px);
        left: 7.5px;
        padding: 30px 20px;
        text-align: center;
        align-items: center;
        transform: scale(0.9);
        transition: .5s ease-in-out;
        .quote-img {
          width: 30px;
          height: 22px;
        }
        .info {
          .feedback {
            font-size: 14px;
            line-height: 22px;
            max-height: 154px;
          }
          .profile {
            img {
              width: 35px;
              height: 35px;
              border-radius: 17.5px;
            }
            .profile_text {
              margin-left: 20px;
              text-align: left;
              width: 140px;
              .name {
                font-size: 14px;
                line-height: 20px;
              }
            }
          }
        }
      }
  
      .slider-back-white {
        display: none;
      }
      .slider-next-white {
        display: none;
      }
      .first-mask {
        display: none;
      }
      .last-mask {
        display: none;
      }
    }
  }
}